.main-content{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about-page {
    background-image: url(../img/about/about.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-text{
    background-color: rgb(252, 250, 248);
    height: auto;
    width: 100%;
}

.about-page div img{
    width: 7.5rem;
    height: 7.5rem;
    margin: 1.5rem 0;
}

#first-text{
    color: darkorange;
    font-size: 2rem;
    text-align: center;
}

#second-text {
    font-size: 1.3rem;
    color: #0f0f0f;
    text-align: justify;
    padding: 2rem;
}

.offices-list{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.office-card{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.office-card p{
    font-family: Roboto Condensed, sans-serif;
    word-wrap: break-word;
}

.office-address,
.office-email,
.office-phone,
.office-techsupport{
    font-size: 1rem;
    width: 20vw;
    text-align: center;
}

.office-email{
    font-size: 1.15rem;
    color: rgba(35, 27, 33, 1);
    font-family: fantasy;
    text-align: right;
}

.office-phone{
    font-size: 1rem;
    color: rgba(35, 27, 33, 1);
    font-family: fantasy;
    text-align: right;
}

.office-techsupport{
    font-size: 0.9rem;
    color: rgba(35, 27, 33, 1);
    font-family: fantasy;
    text-align: right;
}

.parallax{
    background-image: url(../img/about/about.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .about-page{
        height: 95rem;
    }
    .offices-list {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .office-card{
        padding: 2.5rem 0;
    }

    .office-address,
    .office-email,
    .office-phone,
    .office-techsupport{
        font-size: 1rem;
        width: 50vw;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .about-page{
        height: 90rem;
    }

    .about-page div {
        background-color: rgb(252, 250, 248);
        width: 100%;
        height: 150vh;
    }

    .offices-list{
        flex-direction: column;
    }

    .office-address,
    .office-email,
    .office-phone,
    .office-techsupport{
        font-size: 1rem;
        width: 80vw;
        text-align: center;
    }
}