/*Карта (слева) для выбора парковки*/

.left-map{
    display: flex;
    flex: 2;
    order: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#YMapsID{
    width: 95vw;
    height: 95vh;
    padding: 0.5rem;
    margin: 0.5rem;
}

.center-faq{
    display: flex;
    flex: 2;
    order: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-right{
    display: flex;
    flex: 2;
    order: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#YMapsID h6 {
    color: darkorange;
    font-size: 1.2rem;
}

#YMapsID form > input{
    border: none;
}
#YMapsID form > input[name = "BarCode"]{
    border: 0.1px solid darkorange;
    width: 25vw;
    height: auto;
}

#YMapsID form > p {
    font-size: 1rem;
    text-align: center;
    margin: 0.25vh 0.25vw;
}